{{ beers.BEER_ID }} <br>
{{ beers.CATEGORY_ID }} <br>
{{ beers.STYLE_ID }} <br>
{{ beers.GLASS_ID }} <br>
{{ beers.NAME }} <br>
{{ beers.NAME_DISPLAY }} <br>
{{ beers.DESCRIPTION }} <br>
{{ beers.ABV }} <br>
{{ beers.IBU }} <br>
{{ beers.SRM_ID }} <br>
{{ beers.AVAILABLE_ID }} <br>
{{ beers.IS_ORAGNIC }} <br>
{{ beers.STATUS }} <br>
{{ beers.STATUS_DISPLAY }} <br>
{{ beers.SERVING_TEMP }} <br>
{{ beers.SERVING_TEMP_DIS }} <br>
{{ beers.LABEL_SMALL }} <br>
{{ beers.LABEL_MEDIUM }} <br>
{{ beers.LABEL_LARGE }} <br>
{{ beers.CREATE_DATE }} <br>
{{ beers.UPDATE_DATE }} <br>
